.DS_Store
"Practice Assignment/.DS_Store"
"Practice Final/.DS_Store"
Labs/.DS_Store
Labs/Lab1/.DS_Store
Labs/Lab2/.DS_Store
Labs/Lab3/.DS_Store
Labs/Lab4/.DS_Store
Labs/Lab5/.DS_Store
Labs/Lab4/template_de1soc/secret_messages/.DS_Store